.quill > .ql-toolbar.ql-snow {
    box-sizing: border-box;
    padding: 12px 0 12px 21px;
    border-radius: 6px 6px 0px 0px;
    border: 1px solid var(--Grey-400, #dcdfe3);
    background: var(--Grey-100, #f6f8f9);
}

.ql-container.ql-snow {
    border-radius: 0px 0px 6px 6px;
    border: 1px solid var(--Grey-400, #dcdfe3);
    background: var(--White, #fff);
}

.ql-editor.ql-blank::before {
    font-family: Pretendard;
    font-style: normal;
    content: attr(data-placeholder);
    left: 24px;
    pointer-events: none;
    position: absolute;
    color: var(--Grey-500, #d1d4d8);
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}

.ql-editor {
    color: var(--Grey-900, #212224);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    padding: 24px;
    min-height: 438px;
}

.ql-image {
    width: 100px;
}

.ql-snow.ql-toolbar button {
    width: 101px;
    padding: 0;
    color: var(--Grey-900, #212224);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    display: flex;
    align-items: center;
    gap: 4px;
}
